header {
  background-image: url("https://imgur.com/nwp1nmi.jpg");
  background-size: cover;
  text-align: center;
}
body{
  background-color: black;
  display: center;
}

h1 {
  color: #c6e2ff;
  font-size: 50px;
  letter-spacing: 5px;
  animation: neon .08s ease-in-out infinite alternate;
  height: 2rem;
  padding: 2rem;
}
/* animation keyframes, sourced from https://codepen.io/markheggan/pen/LjrVYN on 11.10.21 */
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

h3 {
  color: beige;
  padding: 1rem;
}
#instructions{
  color: beige;
  text-align:center;
  font-size: 20px;
}

 #infoContainer{
  color: gold
  text-align:center;

}

/* button to center with a lower padding of 50 px */


.hidden {
  display: none;
}

.show {
  display: block;
  color: beige;
  
}
button{
  font-size: 20px;
  float: none;
  clear: both
}
img{
  align:bottom;
  clear: both
}